/* Configurações de animanção */


/* Animação do fundo */

@keyframes animLand {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -335px 0px;
    }
}
@-webkit-keyframes animLand {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -335px 0px;
    }
}
@-moz-keyframes animLand {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -335px 0px;
    }
}
@-o-keyframes animLand {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -335px 0px;
    }
}

/* Animação do céu */

@keyframes animSky {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -275px 100%;
    }
}
@-webkit-keyframes animSky {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -275px 100%;
    }
}
@-moz-keyframes animSky {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -275px 100%;
    }
}
@-o-keyframes animSky {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -275px 100%;
    }
}

/* Animação do Bird */

@keyframes animBird {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -96px;
    }
}
@-webkit-keyframes animBird {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -96px;
    }
}
@-moz-keyframes animBird {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -96px;
    }
}
@-o-keyframes animBird {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -96px;
    }
}

/* Animação do blocos */

@keyframes animCeiling {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -63px 0px;
    }
}
@-webkit-keyframes animCeiling {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -63px 0px;
    }
}
@-moz-keyframes animCeiling {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -63px 0px;
    }
}
@-o-keyframes animCeiling {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -63px 0px;
    }
}

/* Animação dos canos (pipe) */

@keyframes animPipe {
    0% {
        left: 900px;
    }
    100% {
        left: -100px;
    }
}
@-webkit-keyframes animPipe {
    0% {
        left: 900px;
    }
    100% {
        left: -100px;
    }
}
@-moz-keyframes animPipe {
    0% {
        left: 900px;
    }
    100% {
        left: -100px;
    }
}
@-o-keyframes animPipe {
    0% {
        left: 900px;
    }
    100% {
        left: -100px;
    }
}

/* Configurações gerais do game */

html, body {
    height: 100%;
    overflow: hidden;
    font-family: monospace;
    font-size: 12px;
    color: #fff;
}

/* Corpo do jogo */

#main-game {
    position: relative;
    max-width: 767px;
    height: 100%;
    min-height: 525px;
    overflow: hidden;
}

/* Tela do jogo */

#screen-game {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ÁREAS DO JOGO */


/* Plano de fundo */

#background-game {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
    background-image: url("../assets/sky.png");
    background-repeat: repeat-x;
    background-position: 0px 100%;
    background-color: #4ec0ca;
    -webkit-animation: animSky 7s linear infinite;
    -moz-animation: animSky 7s linear infinite;
    animation: animSky 7s linear infinite;
}

/* Área de voo */

#flyarea-game {
    position: absolute;
    bottom: 0;
    height: 420px;
    width: 100%;
}

/* Área dos blocos */

#ceiling {
    position: absolute;
    top: -16px;
    height: 16px;
    width: 100%;
    background-image: url("../assets/ceiling.png");
    -webkit-animation: animCeiling 481ms linear infinite;
    -moz-animation: animCeiling 481ms linear infinite;
    animation: animCeiling 481ms linear infinite;
}

/* Rodapé da ilha */

#footer-game {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-image: url("../assets/land.png");
    background-repeat: repeat-x;
    background-position: 0px 0px;
    background-color: #ded895;
    -webkit-animation: animLand 2515ms linear infinite;
    -moz-animation: animLand 2515ms linear infinite;
    animation: animLand 2515ms linear infinite;
}

/* Score maior */

#bigscore {
    position: absolute;
    top: 20px;
    left: 150px;
    z-index: 3;
}
#bigscore img {
    display: inline-block;
    padding: 1px;
}

/* Tela de início */

#splash {
    position: absolute;
    opacity: 0;
    top: 75px;
    left: 65px;
    width: 188px;
    height: 170px;
    background-image: url("../assets/splash.png");
    background-repeat: no-repeat;
}

/* Tela de pontos obtidos */

#scoreboard {
    position: absolute;
    display: none;
    opacity: 0;
    top: 64px;
    left: 43px;
    width: 236px;
    height: 280px;
    background-image: url("../assets/scoreboard.png");
    background-repeat: no-repeat;
    z-index: 4;
}

/* Medalhas */

#medal {
    position: absolute;
    opacity: 0;
    top: 114px;
    left: 32px;
    width: 44px;
    height: 44px;
}

/* Pontos obtidos */

#currentscore {
    position: absolute;
    top: 105px;
    left: 107px;
    width: 104px;
    height: 14px;
    text-align: right;
}
#currentscore img {
    padding-left: 2px;
}

/* Maior pontuação já obtida */

#highscore {
    position: absolute;
    top: 147px;
    left: 107px;
    width: 104px;
    height: 14px;
    text-align: right;
}
#highscore img {
    padding-left: 2px;
}

/* Tela do recomeço */

#replay {
    position: absolute;
    opacity: 0;
    top: 205px;
    left: 65px;
    width: 115px;
    height: 70px;
    cursor: pointer;
}

/* hack para computar as bordas dos sprites*/

.boudingbox {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 1px solid black;
}

/* Configuração da posição inicial do player */

#player {
    position: absolute;
    top: 200px;
    left: 60px;
}

/* Classe do Bird */

.bird {
    position: absolute;
    width: 34px;
    height: 24px;
    background-image: url("../assets/bird.png");
    -webkit-animation: animBird 300ms steps(4) infinite;
    -moz-animation: animBird 300ms steps(4) infinite;
    animation: animBird 300ms steps(4) infinite;
}

/* Canos (pipes) */

.pipe {
    position: absolute;
    left: -100px;
    width: 52px;
    height: 100%;
    z-index: 2;
    -webkit-animation: animPipe 7500ms linear;
    -moz-animation: animPipe 7500ms linear;
    animation: animPipe 7500ms linear;
}

/* Configurações para o cano do topo */

.pipe_upper {
    position: absolute;
    top: 0;
    width: 52px;
    background-image: url("../assets/pipe.png");
    background-repeat: repeat-y;
    background-position: center;
}

/* Configurações para a borda e a boca do cano */

.pipe_upper:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 52px;
    height: 26px;
    background-image: url("../assets/pipe-down.png");
    background-repeat: repeat-y;
    background-position: center;
}

/* Configurações para o cano de baixo */

.pipe_lower {
    position: absolute;
    bottom: 0;
    width: 52px;
    background-image: url("../assets/pipe.png");
    background-repeat: repeat-y;
    background-position: center;
}

/* Configurações para a borda e a boca do cano */

.pipe_lower:after {
    content: "";
    position: absolute;
    top: 0;
    width: 52px;
    height: 26px;
    background-image: url("../assets/pipe-up.png");
    background-repeat: repeat-y;
    background-position: center;
}

/*  */
